# Exercise 1

In [46]:
print("""Lis Mary Antony
D33-18
lismaryantony@gmail.com""")

Lis Mary Antony
D33-18
lismaryantony@gmail.com

# Exercise 2

In [50]:
print(f"{"Lis Mary Antony"}\n{"D33-18"}\n{"lismaryantony@gmail.com"}")

Lis Mary Antony
D33-18
lismaryantony@gmail.com

# Exercise 3

In [53]:
a=14
b=7

In [57]:
c=a+b #Addition
d=a-b #Subtraction
e=a*b #Multiplication
f=a/b #Division

In [69]:
print(a, "+", b, "=", c)
print(a, "-", b, "=", d)
print(a, "*", b, "=", e)
print(a, "/", b, "=", f)

14 + 7 = 21
14 - 7 = 7
14 * 7 = 98
14 / 7 = 2.0

# Exercise 4

In [74]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [78]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

# Exercise 5

In [87]:
print(""""SDK" stands for "Software Development Kit", whereas 
"IDE" stands for "Integrated Development Environment".""")

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

# Exercise 6

In [92]:
print("python is an \"awesome\" language.")

python is an "awesome" language.

In [94]:
print("python\n\t2023")

python
	2023

In [96]:
print('I\'m from Entri.\b')

I'm from Entri

In [98]:
print("\65")

5

In [100]:
print("\x65")

e

In [102]:
print("Entri", "2023", sep="\n")

Entri
2023

In [104]:
print("Entri", "2023", sep="\b")

Entr2023

In [106]:
print("Entri", "2023", sep="*", end="\b\b\b\b")

Entri*20

# Exercise 7

In [109]:
num=23
textnum="57"
decimal=98.3

In [131]:
print("Type of num,(",num,")",":", type(num))
print("Type of textnum,(", textnum, ")", ":", type(textnum))
print("Type of decimal,(",decimal,")", ":", type(decimal))

Type of num,( 23 ) : <class 'int'>
Type of textnum,( 57 ) : <class 'str'>
Type of decimal,( 98.3 ) : <class 'float'>

In [133]:
integer=int(textnum)

In [141]:
sum=num+integer+decimal
print("Sum of numbers=", sum)

Sum of numbers= 178.3

In [149]:
print ("Type of sum (", sum, ")", "is", type(sum))

Type of sum ( 178.3 ) is <class 'float'>

# Exercise 8

In [158]:
Days_in_a_Year=365
Hours_in_a_Day=24
Minutes_in_an_Hour=60

In [160]:
Total_minutes=Days_in_a_Year*Hours_in_a_Day*Minutes_in_an_Hour

In [166]:
print("This code calculates the number of minutes in a year using variables for each unit of time.")
print("""Days in a Year=365
Hours in a Day=24
Minutes in an Hour=60
Then, the total minutes in a year is""", Total_minutes, "minutes")

This code calculates the number of minutes in a year using variables for each unit of time.
Days in a Year=365
Hours in a Day=24
Minutes in an Hour=60
Then, the total minutes in a year is 525600 minutes

# Exercise 9

In [193]:
Name= input("Enter your name:")
print("Hi,", Name, "welcome to Python Programming:)")

Enter your name: Lis Mary Antony

Hi, Lis Mary Antony welcome to Python Programming:)

# Exercise 10

In [196]:
Conversion_Rate=1.25

In [200]:
Pounds=float(input("Please enter amont in Pounds:"))
Dollers=Pounds*Conversion_Rate
print("£", Pounds, "is", "$", Dollers)

Please enter amont in Pounds: 25.8

£ 25.8 is $ 32.25